<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project001</title>
  <link rel="stylesheet" href="../home/home.css">
</head>
<body>
<header class="header">
  <div class="header-logo">
    <img src="#" alt="LOGO">
  </div>
  <div class="toolbar">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">LIBRARY</a></li>
      <li><a href="#">DEVELOPER</a></li>
    </ul>
  </div>
</header>

<main class="main">
  <h1>PROJECT 001-202601</h1>
  <h2>What is?</h2>
  <p>
    This application aims to save the names of authors—artists, writers,
    musicians, etc. for quick access to their content. We prioritize saving
    the author's name, a reference link, and highlighting their most important content.
  </p>
  <h2>How can I use this?</h2>
  <p>
    By accessing the "library" module, we can see all the authors added so far.
    Additionally, by clicking the "+" button, we can add a new author to our library.
  </p>
  <h2>Purpose</h2>
  <p>
    Prepare yourself for web development: FrontEnd and BackEnd. Also, learn to use development
    patterns such as Domain Driven Design (DDD) and Command Query Responsibility Segregation (CQRS).
  </p>
</main>

<footer class="footer">
  <p>&copy; 2026 Calin, All Rights Reserved</p>
</footer>

</body>
</html>
